<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered text-center">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cerrar sesión</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
              <p>¿Esta seguro que quiere salir?</p>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn cerrar" data-bs-dismiss="modal">No</button>
          <button type="submit" class="btn cerrar" data-bs-dismiss="modal">Si</button>
        </div>
      </div>
    </div>
</div>
