<!--Segundo modal - Eliminar Proyectos-->
<div class="modal fade" id="pro2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="pro2">¡ATENCIÓN!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <P class="text-color">¿Esta seguro que desea elimnar los datos? Una vez eliminados, no se podra deshacer esta accion.</P>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn eliminar">Eliminar</button>
          <button class="btn guardar" data-bs-target="#pro" data-bs-toggle="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>