/*Proyectos*/
#proyecto{
	width: 100%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	color:#000;
  	padding-bottom: 40px;
}
#proyecto h3{
	font-family: 'Stalemate', cursive;
	font-size: 60px;
	font-weight: bold;
}
#proyecto .card{
	text-align: center;
	font-family: 'Kalam', cursive;
	font-size: 15px;
}
#proyecto .col-md-4{
	display: flex;
    align-items: center;
}
#proyecto .card-title{
	font-family: serif, cursive;
	font-size: 20px;
	font-weight: bold;
}
#proyecto .btn{
	background-color: purple;
	color: white;
}