<section class="login">
    <div class="container text-center">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-12 form-login">
            <div class="modal-body">
                  <form>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                      </div>
                      <div class="modal-footer mb-3">
                        <button type="submit" class="btn ingresar">Registrarse</button>
                      </div>
                      <small>¿Ya tiene una cuenta? <a routerLink="index">Iniciar sesion</a></small>
                </form>
            </div>
        </div>
        <div class="col-2">
        </div>
      </div>
    </div>
</section>
