<!-- Modal de edicion de info -->
<div class="modal fade" id="info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable text-center">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="info">Editar info</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="info1"></textarea>
              <label for="info1">Comments</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn eliminar" data-bs-target="#info2" data-bs-toggle="modal">Eliminar</button>
          <button type="button" class="btn guardar">Guardar cambios</button>
        </div>
      </div>
    </div>
</div>
