<head>
    <title>Mi Portafolio Web</title>
</head>

<div class="fondo">
    <!-- Barra de navegación -->
    <app-navbar-info></app-navbar-info>
    <!-- Modal -->
    <app-modal-cerrar></app-modal-cerrar>
    <!-- Banner - Nombre - Foto de perfil-->
    <app-banner></app-banner>
    <!-- Cuerpo -->
    <div class="caja">
        <!-- Acerca de mi -->
        <app-acerca></app-acerca>
        <!-- Experiencia -->
        <app-experiencia></app-experiencia>
        <!-- Educacion -->
        <app-educacion></app-educacion>
        <!-- Hard & soft skill -->
        <app-skill></app-skill>
        <!-- Proyectos -->
        <app-proyectos></app-proyectos>
    </div>
    <!-- FOOTER -->
    <app-footer-info></app-footer-info>
</div>
