<!-- Hard & soft skill -->
<section class="habilidades text-white">
    <div>
        <h3 class="text-center pt-5 pb-5 text-white">Hard & Soft Skill <i class="fa-solid fa-heart-circle-bolt"></i></h3>
        <div>
            <!--Primera columna-->
            <div class="porcentaje">
                <div class="container">
                    <div class="card">
                        <div class="box">
                            <div class="porcent" style="--porcentaje: 90;">
                                <svg>
                                    <circle cx="70" cy="70" r="70"/>
                                    <circle cx="70" cy="70" r="70"/>
                                </svg>
                                <div class="number">
                                    <h6>90 <span>%</span></h6>
                                </div>
                                <h4 class="text">HTML</h4>	
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="porcent" style="--porcentaje: 50;">
                                <svg>
                                    <circle cx="70" cy="70" r="70"/>
                                    <circle cx="70" cy="70" r="70"/>
                                </svg>
                                <div class="number">
                                    <h6>50 <span>%</span></h6>
                                </div>
                                <h4 class="text">CSS</h4>	
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="porcent" style="--porcentaje: 20;">
                                <svg>
                                    <circle cx="70" cy="70" r="70"/>
                                    <circle cx="70" cy="70" r="70"/>
                                </svg>
                                <div class="number">
                                    <h6>20 <span>%</span></h6>
                                </div>
                                <h4 class="text">JavaScrip</h4>	
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
            <!--Segunda columna-->
            <div class="porcentaje">
                <div class="container">
                    <div class="card">
                        <div class="box">
                            <div class="porcent" style="--porcentaje: 10;">
                                <svg>
                                    <circle cx="70" cy="70" r="70"/>
                                    <circle cx="70" cy="70" r="70"/>
                                </svg>
                                <div class="number">
                                    <h6>10 <span>%</span></h6>
                                </div>
                                <h4 class="text">Angular</h4>	
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="porcent" style="--porcentaje: 60;">
                                <svg>
                                    <circle cx="70" cy="70" r="70"/>
                                    <circle cx="70" cy="70" r="70"/>
                                </svg>
                                <div class="number">
                                    <h6>60 <span>%</span></h6>
                                </div>
                                <h4 class="text">PHP</h4>	
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="porcent" style="--porcentaje: 50;">
                                <svg>
                                    <circle cx="70" cy="70" r="70"/>
                                    <circle cx="70" cy="70" r="70"/>
                                </svg>
                                <div class="number">
                                    <h6>50 <span>%</span></h6>
                                </div>
                                <h4 class="text">SQL</h4>	
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Tercera columna-->
            <div class="habilidad text-center">
                <h4>Habilidades Blandas</h4>
            </div>
            <!--Cuarta columna-->
            <div class="porcentaje">
                <div class="container">
                    <div class="card">
                        <div class="box">
                            <div class="porcent" style="--porcentaje: 80;">
                                <svg>
                                    <circle cx="70" cy="70" r="70"/>
                                    <circle cx="70" cy="70" r="70"/>
                                </svg>
                                <div class="number">
                                    <h6>80 <span>%</span></h6>
                                </div>
                                <h6 class="text2">Compañerismo</h6>	
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="porcent" style="--porcentaje: 60;">
                                <svg>
                                    <circle cx="70" cy="70" r="70"/>
                                    <circle cx="70" cy="70" r="70"/>
                                </svg>
                                <div class="number">
                                    <h6>60 <span>%</span></h6>
                                </div>
                                <h6 class="text2">Comunicación</h6>	
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>