<head>
    <title>Panel de administración</title>
</head>

<div class="fondo">
    <!-- Barra de navegación -->
    <app-navbar-info></app-navbar-info>
    <!-- Modal -->
    <app-modal-cerrar></app-modal-cerrar>
    <!-- Banner - Nombre - Foto de perfil-->
    <app-banner-edit></app-banner-edit>
    <!-- Modal de edicion de perfil -->
    <app-modal-perfil></app-modal-perfil>
    <!--Segundo modal - Eliminar Perfil -->
    <app-modal-perfil-eliminar></app-modal-perfil-eliminar>
    <!-- Cuerpo -->
    <div class="caja">
        <!-- Acerca de mi -->
        <app-acerca></app-acerca>
        <!-- Boton de edicion de info -->
        <app-boton-acerca></app-boton-acerca>
        <!-- Modal de edicion de info -->
        <app-modal-acerca></app-modal-acerca>
        <!--Segundo modal - Eliminar Info de acerca de mi -->
        <app-modal-acerca-eliminar></app-modal-acerca-eliminar>
        <!-- Experiencia -->
        <app-experiencia></app-experiencia>
        <!-- Boton de edicion de Experiencia -->
        <app-boton-exp></app-boton-exp>
        <!-- Modal de edicion de experiencia -->
        <app-modal-exp></app-modal-exp>
        <!--Segundo modal - Eliminar Experiencia -->
        <app-modal-exp-eliminar></app-modal-exp-eliminar>
        <!-- Educacion -->
        <app-educacion></app-educacion>
        <!-- Boton de edicion de educacion -->
        <app-boton-educ></app-boton-educ>
        <!-- Modal de edicion de educacion -->
        <app-modal-educ></app-modal-educ>
        <!--Segundo modal - Eliminar Educacion -->
        <app-modal-aduc-eliminar></app-modal-aduc-eliminar>
        <!-- Hard & soft skill -->
        <app-skill></app-skill>
        <!-- Boton de edicion de Hard & soft skill -->
        <app-boton-hard></app-boton-hard>
        <!-- Modal de edicion de Hard & soft skilln -->
        <app-modal-hard></app-modal-hard>
        <!--Segundo modal - Eliminar Hard & soft skill -->
        <app-modal-hard-eliminar></app-modal-hard-eliminar>
        <!-- Proyectos -->
        <app-proyectos></app-proyectos>
        <!-- Boton de edicion de proyectos -->
        <app-boton-proyec></app-boton-proyec>
        <!-- Modal de edicion de proyectos -->
        <app-modal-proyec></app-modal-proyec>
        <!--Segundo modal - Eliminar Proyectos-->
        <app-modal-proyec-eliminar></app-modal-proyec-eliminar>
    </div>
    <!-- FOOTER -->
    <app-footer-info></app-footer-info>
</div>
