<!-- Acerca de mi -->
<section id="informacion">
    <div>
        <h3 class="text-center pt-5"><i class="fa-solid fa-scroll text-white"></i> Un poco de mi</h3>
        <p>Lorem ipsum, dolor sit amet consectetur, adipisicing elit. Dolorem quae dolor vel cum magnam, nulla saepe consectetur rerum unde. Itaque, at, omnis! Quia, molestiae maiores distinctio impedit commodi consequatur, quos. Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Dolorem nobis et omnis maiores fugiat. Adipisci, possimus, suscipit. Et dolore, expedita, cum odit officiis nemo eaque ipsum nisi? In, ipsum, voluptate! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum beatae optio, obcaecati temporibus alias distinctio delectus voluptate quam molestias vel modi, sit totam fuga provident ad accusantium eius impedit, magni?</p>
    </div>
</section>
